<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@android:drawable/ic_delete"
        android:label="@string/app_name"
        android:roundIcon="@android:drawable/ic_delete"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dynamic_view"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".admin.adminDashboard"
            android:label="Admin Dashboard"
            android:roundIcon="@drawable/admin_icon"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>





        <activity android:name=".studentLayouts.dashBoard" />
        <activity android:name=".teacherLayouts.addAssignment" />
        <activity android:name=".teacherLayouts.addExam"/>

        <activity android:name=".studentLayouts.TeacherView"/>
        <activity android:name=".studentLayouts.subjectView"/>
        <activity android:name=".studentLayouts.examView"/>
        <activity android:name=".studentLayouts.assignmentView"/>
        <activity android:name=".studentLayouts.profileView"/>
        <activity android:name=".studentLayouts.passChange"/>
        <activity android:name=".teacherLayouts.timeslot"/>
        <activity android:name=".teacherLayouts.teacherDashboard"/>
        <activity android:name=".studentLayouts.notificationS"/>
        <activity android:name=".teacherLayouts.notificationT"/>
        <activity android:name=".login"/>
        <activity android:name=".studentLayouts.attendanceMark"/>
        <activity android:name=".studentLayouts.studentTable"/>
        <activity android:name=".Universal.feedBack"/>
        <activity android:name=".Universal.holidayView"/>
        <activity android:name=".admin.registerStudent"/>
        <activity android:name=".admin.addStudent"/>





    </application>


</manifest>